.root {
  position: relative;
  left: -120px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px 12px 45px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;
  transition: ease-in-out;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.icon {
  width: 30px;
  height: 30px;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 7px;
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
